
pytest==7.4.3
loguru==0.7.1

# el paquete pyspark no es necesario para ejecutar en Databricks
pyspark==3.5.0

# el paquete pandas no es necesario para ejecutar en Databricks porque ya viene instalado
pandas==2.2.1